/* Global Setting */
@font-face {
    font-family: 'Marxiana';
    src: url('../fonts/TTMarxianaTrialElzevir.ttf');
}

html {
    font-family: 'Marxiana';
}

body {
    margin: 0px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    padding-inline: 10%;
}

.half-container {
    width: 50%;
}

.mt50px {
    margin-top: 50px;
}

.mt100px {
    margin-top: 100px;
}

.pd-bt30px {
    padding-bottom: 30px;
}

.pd-bt50px {
    padding-bottom: 100px;
}

.relative {
    position: relative;
    z-index: 1;
}

.mt-400px {
    margin-top: -400px;
}

.absolute {
    position: absolute;
    z-index: 1;
}

/* Section 1 */
.container-header {
    margin: 0px;
    margin-bottom: -10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.container-title a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3D3E2B;
}

.container-header a img {
    width: 40px;
    margin-right: 10px;
}

.container-header nav a {
    color: #3D3E2B;
    margin-inline: 10px;
    text-decoration: none;
}

.web-title {
    font-family: 'Agbalumo';
    font-size: 24px;
}

.slider {
    width: 100vw;
    height: 720px;
    overflow: hidden;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100vw;
    height: 720px;
}

.carousel-container {
    width: 500%;
    height: 720px;
    display: flex;
}

.carousel-container input {
    display: none;
}

/* manual slide navigation */

.navigation-manual {
    position: absolute;
    width: 100vw;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 10px;
}

.manual-btn:hover {
    background-color: #3D3E2B;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

/* Automatic Navigation */

.navigation-auto {
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 680px;
}

.navigation-auto div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 10px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: #3D3E2B;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: #3D3E2B;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: #3D3E2B;
}

/* Navigation ends */

.white-container {
    width: 100vw;
    height: 17vh;
    background-color: rgb(255, 255, 255);
}

.carousel-desc-text {
    color: white;
}

.carousel-desc-text h3 {
    font-size: 72px;
    font-weight: 300;
    margin-bottom: -20px;
}

.carousel-desc-text p {
    margin-left: 5px;
    font-size: 24px;
}

.social {
    margin-top: -40px;
    width: 100vw;
    display: flex;
    justify-content: end;
}

.social-bar {
    margin-top: -30px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

.social-bar a {
    margin-inline: 10px;
}

.social-bar a img {
    width: 16px;
}

/* Section 2 */
.brown-container {
    background-color: #FFF9E2;
    padding: 1%;
    font-size: 12px;
}

.inner-brown-container {
    color: #3D3E2B;
    text-align: justify;
    padding: 10px;
    display: flex;
}

.brown-container-header {
    color: #3D3E2B;
    margin-bottom: -0.5px;
    padding: 5px;
}

.brown-container a {
    font-weight: bold;
    text-decoration: none;
    color: #3D3E2B;
}

/* Section Three */
.section-three-container {
    display: flex;
    justify-content: center;
    color: white;
}

.section-three-container img {
    margin-left: -100px;
    height: 400px;
}

.trapesium {
    z-index: 1;
    position: relative;
    width: 60vw;
    border-top: 400px solid #3D3E2B;
    border-right: 100px solid transparent;
}

.trapesium-content {
    margin-top: -350px;
    color: white;
}

.description-medium {
    font-size: 52px;
}

.description-small {
    font-size: 18px;
}

.btn-small {
    cursor: pointer;
    margin-top: 20px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Marxiana';
    border-radius: 20px;
    padding: 10px 30px;
}

/* Section 4 */
.section-title {
    font-size: 24px;
}

.aksi-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.inner-aksi-container {
    margin-inline: 5%;
    text-align: center;
}

.windowed-image {
    width: 200px;
    height: 300px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

/* Section 5 */
.section-five-container {
    background-color: grey;
    height: 250px;
    width: 100vw;
    padding: 20px 0px 50px 0px;
}

.sfc-desc {
    font-size: 20px;
}

.sfc-num {
    margin-top: -20px;
    font-size: 32px;
    font-weight: bold;
    color: #FFF9E2;
}

/* Section 6 */
.circle-img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.job-title {
    margin-top: -20px;
}

/* Section 7 */
.dark-green-container {
    background-color: #3D3E2B;
    padding: 50px 0px 10px 0px;
    color: white;
}

.footer-title {
    font-size: 16px;
    margin-bottom: -5px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-content a {
    text-decoration: none;
    color: white;
}

.footer-social {
    display: flex;
    align-items: center;
}

.footer-social img {
    height: 20px;
    margin: 10px;
}

/* Responsive */
@media only screen and (max-width:885px) {
    .container {
        padding-inline: 5%;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
    }

    .container-header {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: -20%;
    }

    .container-title {
        margin-inline: 10%;
    }

    .carousel-content {
        flex-wrap: wrap;
    }

    .carousel-desc-text h3 {
        font-size: 36px;
    }

    .mt-400px {
        margin-top: -250px;
    }

    .inner-brown-container {
        flex-wrap: wrap;
    }

    .half-container {
        width: 100%;
    }

    .half-container hr {
        width: 100%;
    }

   .description-medium {
        font-size: 18px;
    }

    .inner-aksi-container {
        margin-inline: 5px;
    }
}